body {
    margin: 0px;
}

.component {
    margin: 10px 182px;
    justify-content: center;
}

.body {
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 10px;
    overflow: hidden;
}

.component .content {
    text-align: center;
}

table th {
    border: 1px solid;
    border-color: black;
}


