<input type="checkbox" id="click">
<label for="click">
    <i class="fab fa-facebook-messenger"></i>
    <i class="fas fa-times"></i>
</label>
<div class="wrapper">
    <div class="head-text">
        Let's chat? - Online
    </div>
    <div class="chat-box">
        <div class="desc-text">
            <div class="ai-chat" *ngFor="let responseMsg of previousResponse">
                {{responseMsg}}
            </div>
            <div class="user-chat" *ngFor="let usersMsg of userPreviousMessage">
                {{usersMsg}}
                <!-- <span class="timestamp"> {{timestamp}}</span> -->
            </div>
        </div>
        <br>
        <form action="#">
            <div class="field">
                <input name="userMessage" id="userMessage" type="text" placeholder="Message" [(ngModel)]="userMessage" required>
                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true" (click)="getResponse()"></i></button>
            </div>
        </form>

    </div>
</div>
