.body .navbar {
    width: max-content;
    height: 750px;
    position: relative;
    color: white;
    background-color: rgb(62, 62, 62);
}

.body {
    position: fixed;
    margin-top: 52px;
}
.navbar .head {
    text-align: center;
    font-size: x-large;
    padding: 15px 0px;
}

.body .menu ul li {
    cursor: pointer;
    font-size: larger;
    padding: 5px 0px;
    margin: 0px 20px;
}

.body .menu ul li a {
    text-decoration: none;
    color: white;
}

.centered {
    margin-top: 480px;
    height: 20px;
    position: relative;
}

.centered button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    background-color: rgb(159, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(159, 0, 0);
}

.centered button:hover {
    font-size: large;
    color: rgb(159, 0, 0);
    background-color: white;
    transition: all 0.4s ease-in;
}