<div class="moddle-site">
    <div class="content">
        <div class="redirect">
            <router-outlet></router-outlet>
        </div>*
        <div class="img">
            <img alt="computer department" src="../assets/images/0.png">
        </div>
        <div class="highlights">
            <div class="brief">
                <div class="icon">
                    <b>Convocation Ceremony</b><br><br>
                    <img alt="img1" src="../assets/images/1.jpg"><br>
                    <p>APSIT Computer Department convocation ceremony was held on 2022-03-27.</p>
                </div>
                <div class="icon">
                    <b>First Prize in Ignite!!</b><br><br>
                    <img alt="img2" src="../assets/images/2.jpeg"><br>
                    <p>T.E Computer Students from APSIT bags the first prize for Ignite.</p>
                </div>
                <div class="icon">
                    <b>Project Based Learning</b><br><br>
                    <img alt="img3" src="../assets/images/3.jpeg"><br>
                    <p>Being only a "BOOKWORM " is not Exactly what an Engineer is. Basically having "PRACTICAL"
                        knowledge
                        is more
                        regarded today.</p>
                </div>
                <div class="icon">
                    <b>NBA Accreditation</b><br><br>
                    <img alt="img4" src="../assets/images/4.png"><br>
                    <p>The Department is accredited by the competent authority in NBA. It encourages quality improvement
                        initiatives by
                        Institutions which in turn improves student quality. Accredited program offers the highest
                        quality
                        education
                        available.</p>
                </div>
                <div class="icon">
                    <b>59 with perfect 10!</b><br><br>
                    <img alt="img5" src="../assets/images/5.jpeg"><br>
                    <p>59 Students from S.E scoring perfect 10 pointer SGPA.</p>
                </div>
            </div>
        </div>

        <div class="info">
            <div class="about">
                <div class="para">
                    <div class="top">About the Computer Engineering Department</div>
                    <div class="main">Department of Computer Engineering is the largest and most research strong
                        department
                        of its
                        kind
                        in
                        Mumbai
                        University. The Department was established in 2014 and currently offers a B.E in Computer
                        Engineering. The
                        department
                        boasts a vibrant student body and a stellar faculty team of qualified and experienced
                        professors.
                        The
                        Department
                        has
                        developed many state-of-artfully air-conditioned laboratories with more than 200 desktop
                        computers
                        in various
                        fields
                        of
                        Computer Engineering such as High-Performance Computing, Web Technologies, Cloud Computing,
                        Software
                        Engineering
                        etc.
                        thereby providing ample facilities for project development and research. The Department has
                        tie-up
                        with CSI
                        and
                        maintains a
                        close relationship with industries of repute. The department takes immense interest in
                        conducting
                        professional
                        activities
                        such as organizing workshops, seminars and expert lectures to meet the challenges in the IT
                        industry. Our
                        results
                        are
                        constantly on the upward trajectory and the phenomenal growth of the department is attributed to
                        the
                        winning
                        combination
                        of dedicated and experienced faculty, brilliant students and strong administrative support from
                        the
                        institute.
                    </div>
                    <hr class="solid">
                    <div class="professors">
                        <div class="top">Faculty Global Certifications</div>
                        <ul>
                            <li>Dr. Pravin Adivarekar : “The Palo Alto Networks Certified Cybersecurity Entry-level
                                Technician
                                (PCCET)”</li>
                            <li>Dr. Jaya Gupta : “Alteryx foundation micro-credential”,“Fundamentals of Deep Learning
                                for
                                Computer
                                Vision” by
                                NVIDIA DLI, “Fundamentals of Deep Learning” by NVIDIA DLI,“Building Transformer-based
                                Natural Language
                                ProcessingApplications” by NVIDIA DLI</li>
                            <li>Prof. Merlin Priya Jacob: “Certified Google Educator-Level 1”</li>
                            <li>Prof. Brinal Colaco: “Sun Certified Java Programmer (SCJP)”, “Certified Ethereum Expert”
                            </li>
                            <li>Prof. Ramya R B : “Google Certified Educator Level 2 ” , “Huawei Certified ICT Associate
                                in
                                AI”</li>
                            <li>Prof. Bharti Khemani: “Java Programming” and “Java Fundamentals” from Oracle Academy,
                                “Database
                                Foundations”
                                Cumulative Final Exam course from Oracle Academy.</li>
                            <li>Prof. Deepak Khachane : “AWS Solutions Architect Associate”</li>
                            <li>Prof. Babita Kubde : “Data Science Prodegree ”</li>
                            <li>Prof. Kadambari D: “PG Diploma Certification in Data Science IIIT-Bangalore, June 2021”
                            </li>
                            <li>Prof. Vishakha Chaudhari : “Business Analytics Course ”</li>
                            <li>Prof. Rushikesh Nikam : “AWS Foundations- Securing Your AWS Cloud” by AWS, “AWS Security
                                Fundamentals
                                Access Control
                                and Management” , “Postman API Fundamental Student Expert</li>
                            <li>Prof. Pranali Patil: “Oracle Certified Associate - OCA”,“Image Classification with
                                DIGITS”
                                by NVIDIA
                                DLI,
                                “Object Detection with DIGITS” by NVIDIA DLI ”</li>
                        </ul>
                    </div>
                    <hr class="solid">
                    <div class="vision">
                        <div class="top">Vision</div>
                        <div class="main">To become nationally reputed department producing universally competent
                            engineers,
                            to
                            benefit
                            sustained growth of an individual and the society at large.</div>
                    </div>
                    <hr class="solid">
                    <div class="top">Mission</div>
                    <div class="mission">
                        <ul>
                            <li>To provide learning ambience for students and faculties through infrastructure,
                                expertise
                                and training.
                            </li><br>
                            <li>To develop technically competent professionals with strong foundations, capable of
                                adapting
                                with the
                                changing technologies for developing world-class software.</li><br>
                            <li>To inculcate professional, social and ethical values in students by providing
                                opportunities
                                to solve
                                environmental and social problems.</li><br>
                        </ul>
                    </div>
                </div>
                <div class="link">
                    <div class="computer">
                        <div class="header">
                            USEFUL LINKS
                        </div>
                        <div class="list">
                            <ul>
                                <li>● About Department</li>
                                <li>● Vision & Mission</li>
                                <li>● PO, PEO & PSO</li>
                                <li>● Faculty Profile</li>
                                <li>● Collaborations</li>
                                <li>● Placement Details</li>
                                <li>● Result Analysis</li>
                                <li>● Curriculum & Syllabus</li>
                                <li>● Laboratories</li>
                                <li>● Workshop & Events</li>
                                <li>● Proffesional Bodies</li>
                                <li>● Student Organisation</li>
                                <li>● Department Achievements</li>
                                <li>● Academic Calendar</li>
                                <li>● Department Magazine</li>
                                <li>● Industrial Intership</li>
                            </ul>
                        </div>
                    </div>
                    <div class="department">
                        <div class="header">
                            DEPARTMENTS
                        </div>
                        <div class="list">
                            <ul>
                                <li>● Computer Engineering</li>
                                <li>● Civil Engineering</li>
                                <li>● Information Technology</li>
                                <li>● Mechanical Engineering</li>
                                <li>● CSE AI and ML</li>
                                <li>● CSE Data Science</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="credits">
                <b>CONTACT INFO</b><br><br>
                Address: Survey No. 12, 13 Opp. Hypercity Mall, Kasarvadavali, Ghodbunder Road, Thane West, Thane,
                Maharashtra
                400615 <br><br>
                Phone: 022-25973737<br><br>
                Mobile: 7738305400 / 7738940600<br><br>
            </div>
        </div>
        <app-chatbot></app-chatbot>
    </div>
</div>