.moodle-site {
    height: 1000px;
    margin-bottom: 100px;
}

.head {
    padding: 16px;
    color: white;
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ls {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 178px;
}

.ls .logo img {
    width: 140px;
}

.ls .search input {
    align-items: end;
}

.ls .search {
    text-align: end;
    margin: 15px 0px;
    height: 30px;   
}

.nav {
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.nav ul {
    overflow: auto;
    margin: 10px 0px;
    border-radius: 10px;
}

.nav ul li {
    float: left;
    list-style: none;
    padding: 15px 16px;
    color: white;
    background-color: rgb(59, 59, 59);
}

.nav ul button {
    border: 0px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    color: white;
    background-color: rgb(59, 59, 59);
}

.nav ul button a {
    text-decoration: none;
    color: white;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li:hover {
    cursor: pointer;
    background-color: rgb(195, 2, 2);
}

.nav ul button:hover {
    background-color: rgb(195, 2, 2);
}