<div class="moddle-site">
  <div class="head">
    A P SHAH INSTITUTE OF TECHNOLOGY
  </div>

  <div class="logo">
    <img alt="logo" src="../assets/images/logo.png">
    <!-- <input type="text" placeholder="search"> -->
  </div>

  <div class="nav">
    <ul>
      <li>HOME</li>
      <li>INSTITUTE</li>
      <li>ADDMISSION</li>
      <li>ACADEMICS</li>
      <li>CO-CURRICULAR</li>
      <li>EXTRA-CURRICULAR</li>
      <li>PLACEMENTS</li>
      <li>CAREER@APSIT</li>
      <li>PAY FEES</li>
      <li>REACH US</li>
    </ul>
  </div>

  <div class="img">
    <img alt="computer department" src="../assets/images/1.png">
  </div>

  <div class="about">
    <div class="top">About the Computer Engineering Department</div>
    <div class="main">Department of Computer Engineering is the largest and most research strong department of its kind
      in
      Mumbai
      University. The Department was established in 2014 and currently offers a B.E in Computer Engineering. The
      department
      boasts a vibrant student body and a stellar faculty team of qualified and experienced professors. The Department
      has
      developed many state-of-artfully air-conditioned laboratories with more than 200 desktop computers in various
      fields
      of
      Computer Engineering such as High-Performance Computing, Web Technologies, Cloud Computing, Software Engineering
      etc.
      thereby providing ample facilities for project development and research. The Department has tie-up with CSI and
      maintains a
      close relationship with industries of repute. The department takes immense interest in conducting professional
      activities
      such as organizing workshops, seminars and expert lectures to meet the challenges in the IT industry. Our results
      are
      constantly on the upward trajectory and the phenomenal growth of the department is attributed to the winning
      combination
      of dedicated and experienced faculty, brilliant students and strong administrative support from the institute.
    </div>
  </div>
  <app-chatbot></app-chatbot>
</div>