<div class="moddle-site">
  <div class="head">
    A P SHAH INSTITUTE OF TECHNOLOGY
  </div>

  <div class="ls">
    <div class="logo">
      <img alt="logo" src="../assets/images/logo.png">
    </div>
    <div class="search">
      <input type="search" placeholder="keywords">
    </div>
  </div>

  <div class="nav">
    <ul>
      <li>Home</li>
      <li>INSTITUTE</li>
      <li>ADDMISSION</li>
      <li>ACADEMICS</li>
      <li>CO-CURRICULAR</li>
      <li>EXTRA-CURRICULAR</li>
      <li>PLACEMENTS</li>
      <li>CAREER@APSIT</li>
      <li>PAY FEES</li>
      <button [routerLink]="['/unanswered-questions']" target="_blank">REACH US</button>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>