.body {
  text-align: center;
  width: 500px;
  margin: 50px auto;
  padding: 50px 0px;
  border: 1px solid;
  border-color: rgb(127, 127, 127);
  box-shadow: 5px 5px 5px 5px rgb(124, 124, 124);
}

p {
  margin-bottom: 30px;
  font-size: xx-large;
  font-weight: 500;
}

.input {
  width: 250px;
  margin: 5px 0px;
}

::placeholder { 
  padding: 5px;
}

.example-container input {
  border: 2px solid;
  border-color: rgb(127, 127, 127) ;
}

section button {
  margin-top: 10px;
  height: 50px;
}