.body {
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 176px;
    justify-content: center;
}

.body .content {
    text-align: center;
}
